.flag {
	@extend %primary-box;
	@extend %flexbox-row;
	align-items: center;
	&__logo {
		@extend %flexbox-fixed;
		height: 8 * $unit;
		width: 8 * $unit;
	}
	&__content {
		@extend %flexbox-stretch;
		padding: $unit;
		> * {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

}
