$UNIT: 12px;
$SPACING: 2 * $UNIT;
$TILE_SIZE: 32px;
$ISOMETRIC_VIEW_DIAMETER: 15;
$time-short: 0.1s;
$ISOMETRIC_Y_TO_X_OFFSET: 0.3; // For every n on the Y axis, displace n*OFFSET to the right
$ISOMETRIC_Y_TO_X_RATIO: 0.6;  // n on the Y axis is always this ratio of (horizontal) units
$ISOMETRIC_Z_TO_X_RATIO: 1; // n on the Z axis is always this ratio of (horizontal) units

$tooltip-background: #1b1b1b;

#viewport {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	overflow: hidden;

	> * {
		position: absolute;
		top: 0%;
		left: 0%;
		right: 0%;
		bottom: 0%;
		width: 100%;
		height: 100%;
	}
}

#world,
#player,
#entities {
	transition: top $time-short linear, left $time-short linear;
}

#backdrop {
	transition: background-position 0.5s linear;
//	background: {
//		image: url('images/8LluB6D.GIF');
//		//color: rgb(37,180,210);
//		color: rgb(29,185,213);
//		position: 0px 0px;
//	}
}
#cursor {
	position: absolute;
}

#world,
#entities {
	width: 100%;
	height: 100%;
}

#minimap {
	position: absolute;
	bottom: $SPACING;
	right: $SPACING;
	width: 240px;
	height: 240px;
	z-index: 9999;
}