doctype

html
	head
		title q.0x.ee
		meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
		link(href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css')
		// build:css
		link(href='/style.css' rel='stylesheet' type='text/css')
		// endbuild
		// build:js
		script(src='/lib/requirejs/require.js')
		script(src='/bootstrap.js')
		script(src='/packages/quarantine/src/app.js')
		// endbuild
		style.
			#quarantine {
				position: absolute;
				top: 50px;
				left: 50px;
				right: 50px;
				bottom: 50px;
				outline: 50px solid #000;
			}
	body
		#quarantine.stick-to-bottom
			section#windows
			section#output
			section#input
