// Variables
$spacing: 15px;
$spacing-large: $spacing * 2;
$spacing-huge: $spacing-large * 2;

$time: 0.5s;
$time-fast: $time / 2;
$time-slow: $time * 2;

$fg: #8e8e8e;
$fg-special: #fff;
$fg-light: lighten($fg, 15);
$fg-lighter: lighten($fg, 30);
$fg-dark: #414141;
$fg-darker: darken($fg-dark, 10);

$bg: #121211;
$bg-semilight: #161615; // this is how css rgba(, 0.5) renders it
$bg-light: #1b1b1b;
$bg-lighter: #222222;
$bg-lightest: lighten($bg-lighter, 10);

$bg-dark: darken($bg, 1);
$bg-darker: darken($bg, 2);

$font-family: 'Anonymous Pro', 'Courier New', monospace;


 //
 ///
  ////
//$unit: 1.1rem;
$unit: 14px;
  ////
 ///
 //

//$font-size: 0.8rem;
$font-size: 13px;

$output-max-outer-width: 60 * $unit;

@import './game';
@import './style/tooltip';
@import './style/player-banner';


/*
	LEGACY:
*/

// Placeholders, mixins
@import './style/placeholders/box';
@import './style/placeholders/rulers';
@import './style/placeholders/script';
@import './style/placeholders/scrollbar';
@import './style/placeholders/flexbox';
@import './style/placeholders/markdown';

// Reset, scaffolding
@import './style/reset';
@import './style/body';

// Different UI elements
@import './style/taskbar';
@import './style/flag';
@import './style/input';
@import './style/input-explain';
@import './style/output';
@import './style/panvas';
@import './style/sensors';
@import './style/window';


// The grand scheme of things:
@import './style/layout';

// Overrides
@import './style/debug';


// SHAME SHAME SHAME SHAME SHAME SHAME SHAME SHAME SHAME SHAME SHAME SHAME

.pull-left {
	float: left;
	margin-right: 4 * $unit !important;
}



// SHAME SHAME SHAME SHAME SHAME SHAME SHAME SHAME SHAME SHAME SHAME SHAME